/********** Template CSS **********/
:root {
    --primary: #F68521;
    --secondary: #757575;
    --light: #F3F6F8;
    --dark: #000000;
    
}

.text-red{
    color:red;
}

.text-green{
    color:limegreen;
}

.text-co2{
    color:#157347;
}

.bg-co2{
    background-color:#157347;
    color: #ffffff;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.text-left{
text-align: left !important;
}



.counter-box {
	
	background: #f6f6f6;
	padding: 20px;
    width: 180px;
	text-align: center;
    border-radius: 18px;
    margin-left: auto;
    margin-right: auto;
    
}

.counter-box p {
	margin: 5px 0 0;
	padding: 0;
	color: #333;
	font-size: 18px;
	font-weight: 500
}

.counter-box i {
	font-size: 60px;
	margin: 0 0 15px;
	color: #F68521 !important;
}

.counter { 
	display: block;
	font-size: 42px;
	font-weight: 700;
	color: #F68521 !important;;
	line-height: 28px
}

.counter-box.colored {
      background: #ffffff;
}

.counter-box.colored ,
.counter-box.colored,
.counter-box.colored .counter {
	color: #333
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
    border-radius: 5px;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 60px;
    height: 60px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/* header */

.header {
    min-height: 80vh;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../img/carousel-1.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.header2 {
    min-height: 80vh;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../img/bg-co2.png) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*** Navbar ***/
.navbar.sticky-top {
    top: 0px;
    transition: .5s;
}

.navbar .navbar-brand,
.navbar a.btn img{
    height: 80px
}

.navbar .navbar-nav .nav-link img{
    margin-right: 30px;
    padding: 25px 0;
    color: var(--dark);
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}



.navbar .megamenu{ padding: 1rem; }

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }

}	
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }

  


}

/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, .75);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
}


/*** Facts ***/
@media (min-width: 991.98px) {
    .facts {
        position: relative;
        margin-top: -75px;
        z-index: 1;
    }
}

#formulario-padding{
    border-radius: 5px;
}

/*** Courses ***/
.courses {
    min-height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url(../img/carousel-1.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.courses-item .courses-overlay {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.courses-item:hover .courses-overlay {
    height: 100%;
    opacity: 1;
}


/*** Team ***/
.team-items {
    margin: -.75rem;
}

.team-item {
    padding: .75rem;
}

.team-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #FFFFFF;
    transition: .5s;
    z-index: -1;
}

.team-item:hover::after {
    height: 100%;
    background: var(--primary);
}

.team-item .team-social {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .75);
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-social {
    height: 100%;
    opacity: 1;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    height: 40px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid var(--primary);
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 40px;
    height: 40px;
    background: var(--primary);
}

.testimonial-carousel .owl-item img {
    width: 150px;
    height: 150px;
}


/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--light);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--dark);
    letter-spacing: 1px;
    box-shadow: none;
}

.copyright {
    background: #000000;
}

.copyright a {
    color: var(--primary);
}

.copyright a:hover {
    color: var(--light);
}

/* Adapts a floating label for use with a left-handed input group icon */
.form-floating > .bi-calendar-date + .datepicker_input + label {
    padding-left: 3.5rem;
    z-index: 3;
  }

.text-blue{
    color: dodgerblue;
}

  /* Responsive */

  .desktop{

    display: block;

  }
  .mobile {
    display: none;
}

.segunda-seccion{

    padding-top: 50px;
    padding-bottom: 50px;
   
}

#div1 {
    order: 1;
}
#div2 {
    order: 2;
}
#div3 {
    order: 3;
}
#div4 {
    order: 4;
}
#div5 {
    order: 5;
}
#div6 {
    order: 6;
}
#codigo {
    order: 7;
}
#otra {
    order: 8;
}


#promo{
    order:1;
}
#caracteristica{
    order:2;
}

.nombre{
    padding-top: 8px;
}

.espacio-lista{
    padding-top: 3px;
}

.inputs-fw{
    border: 1px solid #F68521;
}

html:not([data-scroll='0']) {
    padding-top: 1em;
  }
  html:not([data-scroll='0']) .p-5-dektop {
    padding: 2em !important;
  }


  .d-md-block{

    display: none;
}



  @media (max-width: 768px) {
    .mobile {
        display: block;
    }
    .desktop{

        display: none;
    
      }

      .header {
        min-height: auto;
        background: none;
        
    }
    .header2 {
        min-height: auto;
        background: none;
        
    }

      .check-formulario{
        font-size: 11px;
        text-align: left !important;

      }


      .logo{
      width: 70% !important;
      margin-left: 10px;

      }

      .p-5-mobile {
        padding: 1rem !important;
    }


    .h4-footer{
        font-size: small;
    }
   

    .segunda-seccion{

        padding-top: 10px;
        padding-bottom: 10px;
        
    }


    #div1 {
        order: 1;
    }
    #div2 {
        order: 3;
    }
    #div3 {
        order: 4;
    }
    #div4 {
        order: 5;
    }
    #div5 {
        order: 6;
    }
    #div6 {
        order: 8;
    }
    #codigo {
        order: 6;
    }
    #otra {
        order: 2;
    }
      

    .fs-mobile-1{

        font-size: 0.8em !important;
    }
    .fs-mobile-2{

        font-size: 0.9em !important;
    }
    

    .pt-5-desktop{
        padding-top:0rem !important
    }

    #promo{
        order:2;
    }
    #caracteristica{
        order:1;
    }

    .invisible-mobile{
        visibility:hidden !important
    }
    

    #auto{
        order:1;

    }
    #seguros{
        order: 2;
    }

    .espacio-lista{
        padding-top: 13px;
    }

    .promo2 {
        float: right;
    }
    .btn-group, .btn-group-vertical {
        position: relative;
        display: flow-root;
        vertical-align: middle;
    }



    

.counter-box {
	
	background: #f6f6f6;
	padding: 10px;
    display: block;
    width: 100px;
	text-align: center;
    border-radius: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
}

.counter-box p {
	margin: 5px 0 0;
	padding: 0;
	color: #333;
	font-size: 12px;
	font-weight: 500
}

.counter-box i {
	font-size: 60px;
	margin: 0 0 15px;
	color: #F68521 !important;
}

.counter { 
	display: block;
	font-size: 32px;
	font-weight: 700;
	color: #F68521 !important;;
	line-height: 28px
}

.counter-box.colored {
      background: #ffffff;
}

.counter-box.colored ,
.counter-box.colored,
.counter-box.colored .counter {
	color: #333
}

.d-sm-none{

    display: none;
}

.d-sm-block{

    display: block;
}

}